
.input {
    margin-bottom: 10px;
}

.input > ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.input > ul > li {
    margin: 0 5px;
}

.input > ul > li > input {
    width: 110px;
    padding: 1px 2px;

}

.input > ul > li > button {
    padding: 1px 2px;
}

table, td, th {
    border: 1px solid #dadad8;
    padding: 10px 2px;
}

th {
    font-size: 12px;
    color: white;
    background-color: #029d5f;
}

td {
    height: 100%;
    padding: 20px 0;
    text-align: center;
    color: black;
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}