* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
}

header > h1 {
    margin: 10px 0;
}

header ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

header ul > li {

}

header nav > ul > li::after {
    content: "|";
    align-items: center;
    margin: 0 10px;
}

header nav > ul > li:last-child::after {
    content: "";
}

div > ul > li > a {
    padding: 0 10px;
    border: 1px solid black;
}

hr {
    margin: 10px 0;
}

.input {
    margin-bottom: 10px;
}

.input > ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.input > ul > li {
    margin: 0 5px;
}

.input > ul > li > input {
    width: 110px;
    padding: 1px 2px;

}

.input > ul > li > button {
    padding: 1px 2px;
}

table, td, th {
    border: 1px solid #dadad8;
    padding: 10px 2px;
}

th {
    font-size: 12px;
    color: white;
    background-color: #029d5f;
}

td {
    height: 100%;
    padding: 20px 0;
    text-align: center;
    color: black;
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

